{% extends "base.html" %}

{% block title %}
    <title>Portfolio</title>
{% endblock  %}

{% block content %}
    {% comment %} heder site {% endcomment %}
    {% for nav in navbar %}
        <nav class='navbar'>
            <ul class='navbar-nav navbar-collapse'>
                <li class='nav-item'>
                    <a class='nav-link active' href='#'>
                        {{ nav }}
                    </a>
                </li>
            </ul>
        </nav>
    {% endfor %}
{% comment %} body site {% endcomment %}
    {% for hc in hcontent %}
        <p>{{ hc }}</p>
    {% endfor %}

    {% for s in sciol %}
        <span>
            <a href='{{ s.sciol_url }}'>{{ s.sciol_name }}</a>
        </span>
    {% endfor %}

    {% for about in about %}
        <h3>{{ about.full_name }}</h3>
        <h5>{{ about.job }}</h5>
        <p>{{ about.explain }}</p>
        <span>{{ about.email }}</span>
        <span>{{ about.mobile_code }}{{ about.mobile_phone }}</span> </br>
    {% endfor %}

    {% for s in skills %}
        <span>{{ s.skill_name }}</span> </br></br>
    {% endfor %}

    {% for e in education %}
        <h3>{{ e.title_education }}</h3>
        <small>{{ e.text }}</small>
        <date>{{ e.at_education }} -- {{ e.to_education }} {{ e.busy }}</date>
    {% endfor %}

    {% for p in projects %}
        <h4>
            <a href={{ p.project_url }}>{{ p.title }}</a>
        </h4>
    </br>
    {% endfor %}

    {% for ex in expriece %}
        <h6>{{ ex.exprense_title }}</h6>
        <p>{{ ex.explain_exprence }}</p>
        <p>
            <a href='{{ ex.link_company }}'>link company</a>
        </p>
        <small>{{ ex.at_date_exprence }} {{ ex.to_date_exprence }}</small>
    {% endfor %}

        <form method='post' action=''>
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='send'>
        </form>

        {% comment %} footer site {% endcomment %}
        <footer>
            <h2>contact info</h2>
            {% for ab in about %}
                <small>{{ ab.email }}</small>
                <small>{{ ab.mobile_phone }}</small>
            {% endfor %}

            {% for s in sciol %}
                <small>
                    <a href='{{ s.sciol_url }}'>{{ s.sciol_name }}</a>
                </small>
            {% endfor %}

        </footer>
{% endblock  %}